* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
#editor {
    height: 500px;
    width: 700px;
}

[hidden] {
    display: none;
}
